<div class="container p-5">
    <form class="bg-white p-3 border border-info rounded">
        <h2 class="text-info">{{!producto.codigo ? 'Crear Producto' : 'Editar producto'}}</h2>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="inputEmail4" [(ngModel)]="producto.nombreproducto">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Precio</label>
            <input name="precio" type="text" class="form-control" id="inputPassword4" [(ngModel)]="producto.precio">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Descripcion</label>
          <input name="descripcion" type="text" class="form-control" id="inputAddress" placeholder="escriba aqui..." [(ngModel)]="producto.descripcion">
        </div>
        <div class="form-group">
          <label for="inputAddress">Imagen</label>
          <input name="image" type="text" class="form-control" id="inputAddress" placeholder="Url de la imagen..." [(ngModel)]="producto.image">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
          </div>
          <select [(ngModel)]="producto.idproductocategoria" name="idproductocategoria" class="custom-select" id="inputGroupSelect01">
            <option selected>Categorias...</option>
            <option value=1>Video juegos</option>
            <option value=2>Libros</option>
            <option value=3>Software</option>
            <option value=4>Muebles</option>
            <option value=5>Electronica</option>
            <option value=6>Accesorios</option>
          </select>
        </div>
        <button *ngIf="!producto.codigo" type="submit" class="btn btn-info" (click)="crear()">Enviar</button>       
        <button *ngIf="producto.codigo" type="submit" class="btn btn-info" (click)="actualizar()">Enviar</button>
        <button *ngIf="!producto.codigo" type="submit" class="btn btn-dark m-4" routerLink="/admin/productos">Atras</button>
        <button *ngIf="producto.codigo" type="submit" class="btn btn-dark m-4" routerLink="/admin/productos">Atras</button>
      </form>
</div>
