<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{titulo}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio <span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/categorias" routerLinkActive="active">Categorias</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active">{{!usuario.rol ? 'Admin' : 'Cliente'}}</a>
      </li>
    </ul>
  </div>
</nav>

<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">INICIAR SESION</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <div class="form-group">
                  <input name="correo" type="email" class="form-control" id="inputPassword4" placeholder="Correo">
                </div>
                <div class="form-group">
                  <input name="contrasena" type="password" class="form-control" id="inputAddress"
                    placeholder="Contraseña">
                </div>
                <button *ngIf="!usuario.rol" type="submit" routerLink='/admin/productos' class="btn btn-info">Iniciar
                  Sesión</button>
                <div class="form-group">
                  <a routerLink="/user/register" class="form-control login-user" routerLink="/registro">¿No tienes Cuenta?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>