<div class="container p-5">
  <h2 class="text-danger" style="text-align: center;">Bienvenido a Kiosko-Market</h2>
<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card bg-white p-3 border border-danger rounded">
            <div class="card-body text-center">
              <form>
                <h1 class="h3 mb-3 font-weight-normal text-danger" *ngIf="!isError" >INICIAR SESIÓN</h1>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <div class="form-group">
                  <input name="correo" type="email" class="form-control" id="inputPassword4" placeholder="Correo" [(ngModel)]="usuario.correo">
                </div>
                <div class="form-group">
                  <input name="contrasena" type="password" class="form-control" id="inputAddress"
                    placeholder="Contraseña" [(ngModel)]="usuario.contrasena">
                </div>
                <button type="submit" class="btn btn-danger" (click)="login()">Iniciar Sesión</button>
                <div class="form-group">
                  <a class="form-control login-user" style="color: black;" routerLink="/registro">¿No tienes Cuenta?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>