<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="alert">ALERTA: Compra exitosa. Tu producto está en camino</h1> 
    <div class=“button-container”>
        <img src="../../assets/image.png" alt="" width="1366px" height="600px">
    </div>
    <div class="go-categories">
        <button type="button" class="btn btn-dark" routerLink="/categorias" routerLinkActive="active" >Sigue Explorando</button>
    </div>
</body>
</html>