* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.go-categories{
    text-align: center;
    padding: 10px;
    background: turquoise;
    border-color: black;
    }
.alert{
    background: turquoise;
    border-color: black;
}