<div class="container">
    <div class="row">
        <div *ngFor="let producto of productos" class="card" style="width: 18rem;">
            <div class="card h-100">
                <img src="{{producto.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{producto.nombreproducto}}</h4>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">{{producto.precio}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" [routerLink]="['/comprar', producto.codigo]">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="go-back">
    <button type="button" class="btn btn-dark" routerLink="/categorias" routerLinkActive="active" >Atrás</button>
</div>

