<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/categorias" routerLinkActive="active">Categorias</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Salir<span class="sr-only">(current)</span></a>
          </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div *ngFor="let producto of productos" class="card" style="width: 18rem;">
            <div class="card h-100">
                <img src="{{producto.image}}" class="card-img-top" alt="..." width="500" height="370">
                <div class="card-body">
                    <h4 class="card-title">{{producto.nombreproducto}}</h4>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p class="card-text">${{producto.precio}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info" [routerLink]="['/comprar', producto.codigo]">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="go-back">
    <button type="button" class="btn btn-dark" routerLink="/categorias" routerLinkActive="active" >Atrás</button>
</div>

