<header class="bg-info py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">


                <h1 class="display-4 text-dark mt-5 mb-2">Categorías</h1>
                <p class="lead mb-5 text-dark-50"> Para que compres con mas facilidad, 
                    tenemos la categoría que buscas.
                </p>

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">



        <div *ngFor="let categoria of categorias" class="card" style="width: 18rem;">
            <div class="card h-100">
                <img src="{{categoria.image}}" class="card-img-top" alt="18rem">
                <div class="card-body">
                    <h4 class="card-title">{{categoria.nombre}}</h4>
                    <p class="card-text">{{categoria.descripcion}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info" [routerLink]="['/productos', categoria.id]">Ver productos</a>
                </div>
            </div>
        </div>
    </div>
