<header class="bg-info py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-dark mt-5 mb-2">KiosKo Market</h1>
                <p class="lead mb-5 text-dark-50">Te ofrece un buen servicio para que puedas 
                    hacer tus compras de forma segura sin salir de casa .</p>
                <img src="" classe="img-fluid" alt="imagen">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2></h2>
            <hr>
            <p>KiosKo Market es una de las grandes empresas que le da un buen servicio a sus clientes
                para que puedan comprar lo que buscan de una manera rapida y eficaz.</p>
            <p>Le ofrecemos de una buena manera un gran servicio para que busque lo que necesitas 
                en nuestras productos,ya que tenemos las mejores categorias y productos.
                en categorias vas a poder incontrar  Accesorios,Electronica,Libros,Muebles etc..
                Ten tus mejores compras en KiosKo Market.</p>
            <a class="btn btn-info btn-lg" href="#">Call to Action &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contactos</h2>
            <hr>
            <address>
                <strong>Datos para comunicarse con la empresa KiosKo Market</strong>
                <br>
                <br>Juan Felipe Londoño
                <br>
            </address>
            <address>
                <abbr title="Phone"></abbr>
                3148641466-744287
                <br>
                <abbr title="Email"></abbr>
                <a href="mailto:#">KiosKoMarket@gmail.com</a>
            </address>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let categoria of categorias" class="card" style="width: 18rem;">
            <div class="card h-100">
                <img src="{{categoria.image}}" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{categoria.nombre}}</h4>
                    <p class="card-text">Hola esta es una descripcion</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-info" [routerLink]="['/productos', categoria.id]">Ver productos</a>
                </div>
            </div>
        </div>
    </div>
</div>

