.card-text{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 100;
}

.card-img-top{
    display: flex;
    justify-content: center;
}



.card-body{
    display: flex;
    justify-content: center;
    border-color: blue;
}

.sub-title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.row{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 2px;
}

.card{
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color:white;
}

  .card .card-img-top {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }

  .card .card-body {
    font-family: 'Open Sans';
    padding-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
  }
  .card:hover .card-img-top {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .card:hover .card-body {
    transform: translate(0px, -20px);
    opacity: 1;
  }

